@tailwind base;
@tailwind components;
@tailwind utilities;

.size-cstm {
    border-radius: 3.5rem;
    height: calc(100vh - 2.5rem);
    max-height: calc(100vh - 2.5rem);
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.size-cstm::-webkit-scrollbar {
    display: none; 
}
.w-cstm {
    width: calc(150% - 2.5rem);
}
