@tailwind base;
@tailwind components;
@tailwind utilities;

.radius-cstm{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.radius-cs{
    border-bottom-right-radius: 50px;
}